/* You can add global styles to this file, and also import other style files */
ul{
  margin-top:0px !important;
  margin-bottom:0px !important;
}

body{
}

a {
  display: inline-block !important;
  margin-left: 20px !important;
}
