/* You can add global styles to this file, and also import other style files */
ul{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body{
}

a {
  display: inline-block !important;
  /*margin-left: 20px !important;*/
}

/*.comment-button {*/
/*position: absolute;*/
/*right: 0;*/
/*}*/

comment-list {
  width: 100%;
}
